# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Terraform state & local provider caches
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!*.tfvars.example

# macOS / Editor artifacts
.DS_Store
.vscode/
.idea/
