project_id              = "cymbal-pooled-saas-prod"
region                  = "us-central1"
gateway_container_image = "us-central1-docker.pkg.dev/cymbal-pooled-saas-prod/containers/cymbal-agent-gateway:v2.0"
